.btn {
    background-color: $light-color;
    padding: 11px 17px 12px;
    border-radius: 3px;
    box-shadow: 0 10px 45px;
    opacity: 0.9;
    font-weight: bold;
    color: $light-blue;
    transition: 0.4s ease;

    &:hover {
        background-color: rgb(16, 16, 63);
        color: $light-color;
    }

}

.submit-btn {
    @include button();
    left: 30%;

    &:hover {
        background-color: rgb(69, 106, 69);
    }
}

.back-btn {
    @include button();
    right: -5%;

    &:hover {
        background-color: rgb(219, 53, 23);
    }
}